extends layout
include mixins/_hotel
include mixins/_country

block content
      .page-header(style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url('images/adventure.jpg') ")
        .content-center
          .container
            .motto
              form.row
                .div.col-md-3
                  .input_wrapper.form-group
                    label(for="destination") Destination
                    input(class="form-control" type="text" id="destination" name="destination" required)
                .div.col-md-3
                  .input_wrapper.form-group
                    label(for="duration") Duration (nights)
                    input(class="form-control" type="number" id="duration" name="duration" required)
                
                .div.col-md-3
                  .input_wrapper.form-group
                    label(for="departure-date") Departure Date
                    input(class="form-control" type="date" id="departure-date" name="dateOfDeparture" required)
        
                .div.col-md-3
                  .input_wrapper.form-group
                    label(for="number-guests") Number of Guests
                    input(class="form-control" type="number" id="number-guests" name="numberOfGuests" required)
                
                .div.col-md-3
                  .input_wrapper.form-group
                    select(class="form-control" name="stars")
                      option(Value="1") Min 1 Star
                      option(Value="2") Min 2 Star
                      option(Value="3") Min 3 Star
                      option(Value="4") Min 4 Star
                      option(Value="5") Min 5 Star

                .div.col-md-3
                  .input_wrapper.form-group
                    select(class="form-control" name="sort")
                      option(value="1") Price: Low - High
                      option(value="-1") Price: High - Low

                .div.col-md-3
                  .input_wrapper.form-group
                    button(class="btn btn-outline-neutral" type="submit") Search
      
      .container.mt-5
        h2.mt-3 Find Awesome Hotels
        .glide
          .glide__track(data-glide-el='track')
            ul.row.glide__slides
              each hotel in hotels
                +hotel(hotel)

          //- .glide__arrows(data-glide-el='controls')
          //-   button.glide__arrow.glide__arrow--left(data-glide-dir='<') prev
          //-   button.glide__arrow.glide__arrow--right(data-glide-dir='>') next

          .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--left(data-glide-dir='<')
              svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 24 24')
                path(d='M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z')
            button.glide__arrow.glide__arrow--right(data-glide-dir='>')
              svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 24 24')
                path(d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z')
      
      .container.mt-3
        h2.mt-3 Find A Destination
        .glide#glidetwo
          .glide__track(data-glide-el='track')
            ul.row.glide__slides
              each country in countries
                +country(country)

          .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--left(data-glide-dir='<')
              svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 24 24')
                path(d='M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z')
            button.glide__arrow.glide__arrow--right(data-glide-dir='>')
              svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 24 24')
                path(d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z')


      script(src='/js/glide.min.js')
      script.
        new Glide('.glide', {
          type: 'carousel',
          startAt: 0,
          perView: 3,
          autoplay: 3000,
          hoverpause: true
        }).mount();
        new Glide('#glidetwo', {
          type: 'carousel',
          startAt: 0,
          perView: 3,
          autoplay: 2000,
          hoverpause: true
        }).mount();