mixin country(country)

 

        .card(data-background='image', style=`background-image: url(/images/countries/${country._id}.jpg)`)
            .card-body
                
                h3.card-title #{country._id}
                hr
                .card-footer
                a.btn.btn-success.btn-round(href=`/countries/${country._id}`) 
                    i.fa.fa-file-pdf-o(aria-hidden='true')
                    |  See Hotels
