mixin country(country)
    
 
    .col-md-4
        .card(data-background='image', style=`background-image: url(/images/countries/${country}.jpg)`)
            .card-body
                
                h3.card-title #{country}
                hr
                .card-footer
                a.btn.btn-success.btn-round(href=`/countries/${country}`) 
                    i.fa.fa-file-pdf-o(aria-hidden='true')
                    |  See Hotels
